@model FitMatch_BackEnd.Models.Restaurant

@* @{
    ViewData["Title"] = "Create";
}

<h1>新增餐廳</h1>
 *@
<style>
    /* 上傳照片 */
    .upload-container {
        width: 100%;
        min-height: 400px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background-color: #E0E0E0;
    }

    .label-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    .icon {
        font-size: 2em;
    }

    .upload-input {
        display: none;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">餐廳上架</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="~/img/員工/02627af6-2503-42cc-8ea7-5a69773dadd6.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">John Doe</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-secondary rounded h-100 p-4">

                    <form method="post" asp-action="Create" class="" style="padding: 50px;" enctype="multipart/form-data">

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="RestaurantsName" for="inputname" class="col-form-label">餐廳名稱</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="RestaurantsName" data-validate="RestaurantName" data-error-message="餐廳名稱是必填的" class="form-control mb-3" type="text" placeholder="請輸入餐廳名稱"
                                       aria-label="請輸入餐廳名稱" id="inputname">
                                <span asp-validation-for="RestaurantsName" class="text-danger"></span>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-primary" onclick="fillVenueInfo()">demo展示用</button>
                            </div>
                        </div>

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="Address" for="inputname" class="col-form-label">餐廳地址</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="Address" data-validate="Address" data-error-message="地址是必填的" class="form-control mb-3" type="text" placeholder="請輸入餐廳地址"
                                       aria-label="請輸入餐廳地址" id="inputaddress">
                                <span asp-validation-for="RestaurantsName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="Phone" for="inputname" class="col-form-label">餐廳電話</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="Phone" data-validate="Phone" data-error-message="電話是必填的" class="form-control mb-3" type="text" placeholder="請輸入餐廳電話"
                                       aria-label="請輸入餐廳電話" id="inputphone">
                                <span asp-validation-for="RestaurantsName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label for="inputname" class="col-form-label">餐廳封面</label>
                            </div>
                            <div class="col-4">
                                <div class="upload-container">
                                    <label for="upload" class="label-upload">
                                        <div class="icon">+</div>
                                        <input type="file" name="photo" id="upload" class="upload-input">
                                    </label>
                                    <img id="preview" src="" alt="Image Preview">
                                </div>
                            </div>
                        </div>


                        <fieldset class="col-sm-12 col-xl-6 mb-3 d-flex">
                            <div class="col-2">
                                <legend class="col-form-label pt-0 pe-4">顯示狀態</legend>
                            </div>
                            <div class="col-10 d-flex justify-content-start">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Status" id="gridRadios1" value="0" @(Model.Status == 0 ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios1">
                                        上架
                                    </label>
                                </div>
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Status" id="gridRadios2" value="1" @(Model.Status == 1 ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios2">
                                        下架
                                    </label>
                                </div>
                            </div>
                        </fieldset>


                        <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                            <div class="col-1">
                                <legend class="col-form-label pt-3 pe-4">餐廳簡介</legend>
                            </div>
                            <div class="col-4 form-floating pt-1">
                                <textarea asp-for="RestaurantsDescription" data-validate="RestaurantsDescription" data-error-message="餐廳簡介是必填的" class="form-control" placeholder="請輸入餐廳簡介"
                                          id="floatingTextarea" style="height: 200px;"></textarea>
                                <label for="floatingTextarea">請輸入餐廳簡介</label>
                            </div>
                        </div>


                        <div class="col-8 d-flex text-center mx-auto pt-5">
                            <button type="submit" class="btn btn-primary me-5">新增</button>
                            <a asp-action="List" class="btn btn-outline-success ">取消</a>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Form End -->

</div>
<!-- Content End -->


<script>
    const uploadInput = document.getElementById('upload');
    const preview = document.getElementById('preview');
    const icon = document.querySelector('.icon');

    uploadInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();

            reader.addEventListener('load', function () {
                preview.src = this.result;
                preview.style.display = 'block';
                icon.style.display = 'none';
            });

            reader.readAsDataURL(file);
        }
    });

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script>

    function previewNewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('newPreview');
            output.src = reader.result;
            output.style.display = 'block'; // 顯示新的預覽圖片
        }
        reader.readAsDataURL(event.target.files[0]);
    }

    //以下是表單驗證
    //以下是表單驗證
    //以下是表單驗證

    // 顯示錯誤訊息
    function showErrorMessage(element, message) {
        let errorMessageElement = element.parentNode.querySelector('.error-message');
        if (!errorMessageElement) {
            errorMessageElement = document.createElement('span');
            errorMessageElement.className = 'error-message text-danger';
            element.parentNode.appendChild(errorMessageElement);
        }
        errorMessageElement.textContent = message;
    }

    // 清除錯誤訊息
    function clearErrorMessage(element) {
        const errorMessageElement = element.parentNode.querySelector('.error-message');
        if (errorMessageElement) {
            errorMessageElement.remove();
        }
    }


    // 驗證函數
    function validate(element) {
        const validateRule = element.getAttribute('data-validate');
        const errorMessage = element.getAttribute('data-error-message');

        if (validateRule === 'required') {
            if (element.value === '') {
                showErrorMessage(element, errorMessage);
                return false;
            }
        }

        if (validateRule === 'RestaurantName') {
            if (element.value.length < 5 || element.value.length > 50) {
                showErrorMessage(element, "餐廳名稱應在5到50個字之間");
                return false;
            }
        }

        if (validateRule === 'Phone') {
            const regex = /^[0-9]{2}-[0-9]{7}$/;
            if (!regex.test(element.value)) {
                showErrorMessage(element, "電話號碼格式不正確 正確格式為##-#######(前兩碼為區碼)");
                return false;
            }
        }

        if (validateRule === 'Address') {
            if (element.value.length < 10 || element.value.length > 100) {
                showErrorMessage(element, "地址應在10到100個字之間");
                return false;
            }
        }

        if (validateRule === 'RestaurantsDescription') {
            if (element.value.length < 20 || element.value.length > 500) {
                showErrorMessage(element, "餐廳簡介是必填的，並且長度不應超過500個字");
                return false;
            }
        }


        clearErrorMessage(element);
        return true;
    }

    // 在輸入或失去焦點時觸發驗證
    const elementsToValidate = document.querySelectorAll('[data-validate]');
    elementsToValidate.forEach(function (element) {
        element.addEventListener('keyup', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
        element.addEventListener('blur', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
    });

    // 清除後端錯誤訊息
    function clearBackendErrorMessage(element) {
        const backendErrorMessageElement = element.parentNode.querySelector('.text-danger');
        if (backendErrorMessageElement) {
            backendErrorMessageElement.textContent = '';
        }
    }

    //demo展示 快速填值
    function fillVenueInfo() {

        document.getElementById("inputname").value = "離岸 Health";


        document.getElementById("inputphone").value = "02-2012345";


        document.getElementById("inputaddress").value = "台南市東區大學路100號";


        document.getElementById("floatingTextarea").value = "健康無負擔的餐盒，讓您遠離三高的困擾，能夠吃得安心又開心~~";
    }

</script>



