@model FitMatch_BackEnd.Models.Member

@{
    ViewData["Title"] = "MemberEdit";
    //Layout = "~/Views/Employee/Employee.cshtml";
}
<!-- css/personnel參考 -->
<link rel="stylesheet" href="css/personnel/revise.css">
<style>
    .upload-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    /* 上傳照片 */
    .upload-container {
        width: 300px;
        height: 300px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        background-color: #E0E0E0;
    }

    .label-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    .icon {
        font-size: 2em;
    }

    .upload-input {
        display: none;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-secondary rounded pt-5 px-5 pb-2">
            <form asp-action="MemberEdit" enctype="multipart/form-data">
                <div class="row d-flex">
                    <div class="col-6">
                        <div class="row">
                            <div class="col">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <!-- ID(不給編輯) -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label asp-for="MemberId" class="col-form-label">ID</label>
                                    </div>
                                    <div class="col-8 ps-3">
                                        <input asp-for="MemberId" class="form-control" readonly />
                                        <span asp-validation-for="MemberId" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- 權限 -->
                                @*<div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                <div class="col-2">
                                <label for="inputname" class="col-form-label">權限</label>
                                </div>
                                <div class="col-8 ps-3 mb-2">

                                <select class="form-select" asp-for="Position">
                                <option value="系統管理員" selected>系統管理員</option>
                                <option value="商城管理員">商城管理員</option>
                                <option value="課程管理員">課程管理員</option>
                                <option value="客服管理員">客服管理員</option>
                                </select>
                                <span asp-validation-for="Position" class="text-danger"></span>
                                </div>
                                </div>*@
                                <!-- 狀態 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">狀態</label>
                                    </div>

                                    <div class="col-8 d-flex ps-3 justify-content-start pt-2">
                                        <div class="form-check me-3 mb-2">
                                            <input asp-for="Status" class="form-check-input" type="radio" id="MaleRadio" value="True" />
                                            <label class="form-check-label" for="StatusOn">
                                                有效
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Status" class="form-check-input" type="radio" id="FemaleRadio" value="False" />
                                            <label class="form-check-label" for="StatusOff">
                                                無效
                                            </label>
                                        </div>
                                        <span asp-validation-for="Status" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 姓名 -->
                                <div class="row-sm-12 row-lg-6 mb-2 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">姓名</label>
                                    </div>
                                    <div class="col-8 ps-3">
                                        <input asp-for="MemberName" data-validate="memberName" data-error-message="姓名必填的" class="form-control mb-2" placeholder="請輸入姓名" />
                                        <span asp-validation-for="MemberName" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 性別 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">性別</label>
                                    </div>

                                    <div class="col-8 d-flex ps-3 justify-content-start pt-2">
                                        <div class="form-check me-3 mb-2">
                                            <input asp-for="Gender" class="form-check-input" type="radio" id="MaleRadio" value="True" />
                                            <label class="form-check-label" for="MaleRadio">
                                                男
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input asp-for="Gender" class="form-check-input" type="radio" id="FemaleRadio" value="False" />
                                            <label class="form-check-label" for="FemaleRadio">
                                                女
                                            </label>
                                        </div>
                                        <span asp-validation-for="Gender" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 生日 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">生日</label>
                                    </div>
                                    <div class="col-8 ps-3 mb-2">
                                        <input asp-for="Birth" class="form-select" type="date" />
                                        <span asp-validation-for="Birth" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 帳號 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">電話號碼</label>
                                    </div>
                                    <div class="col-8 ps-3">
                                        <input asp-for="Phone" data-validate="phone" data-error-message="電話號碼格式不正確 正確格式為09#######" class="form-control mb-2" placeholder="請輸入電話號碼" />
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 地址 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">地址</label>
                                    </div>
                                    <div class="col-8 ps-3">
                                        <input asp-for="Address" data-validate="address" data-error-message="地址應在5到100個字之間" class="form-control mb-2" placeholder="請輸入地址" />
                                        <span asp-validation-for="Address" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 電子信箱 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname"  class="col-form-label">電子信箱</label>
                                    </div>
                                    <div class="col-8 ps-3">
                                        <input asp-for="Email" data-validate="email" data-error-message="信箱格式不正確"  class="form-control mb-3" placeholder="請輸入電子信箱" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- 密碼 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">密碼</label>
                                    </div>
                                    <div class="col-8 ps-3">
                                        <input asp-for="Password" data-validate="password" data-error-message="密碼至少需要4個字，只能包含英文和數字" class="form-control mb-2" placeholder="請輸入密碼" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- 入會 -->
                                <div class="row-sm-12 row-lg-6 mb-3 d-flex">
                                    <div class="col-2">
                                        <label for="inputname" class="col-form-label">入會時間</label>
                                    </div>
                                    <div class="col-8 ps-3 mb-2">
                                        <input asp-for="CreatedAt" class="form-select" type="date" />
                                        <span asp-validation-for="CreatedAt" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- 照片 -->
                        <div class="row-sm-12 row-lg-6 mb-3 d-flex justify-content-center">
                            <div class="upload-container">
                                <img id="previewImage" src="~/img/會員/@Model.Photo" style="width:100%;" />
                            </div>
                        </div>
                        <div class="row-sm-12 row-lg-6 mb-3 d-flex justify-content-center">
                            <input type="file" id="imageUpload" name="photo" class="form-control" style="min-width:100px;max-width:300px" />
                        </div>

                    </div>

                    <div class="row">
                        <!-- 按鈕 -->
                        <div class=" d-flex justify-content-center pt-2 form-group">
                            <button type="submit" class="btn btn-primary me-5" value="Save">確認</button>
                            <a asp-action="Member"
                               class="btn btn-outline-success">取消</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Form End -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script>
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '會員管理 / 編輯會員';
    });
    // 及時顯示上傳的照片
    document.getElementById('imageUpload').addEventListener('change', function (e) {
        var reader = new FileReader();

        reader.onload = function (event) {
            document.getElementById('previewImage').src = event.target.result;
        }
        reader.readAsDataURL(e.target.files[0]);
    });




    //以下是表單驗證
    //以下是表單驗證
    //以下是表單驗證

    // 顯示錯誤訊息
    function showErrorMessage(element, message) {
        let errorMessageElement = element.parentNode.querySelector('.error-message');
        if (!errorMessageElement) {
            errorMessageElement = document.createElement('span');
            errorMessageElement.className = 'error-message text-danger';
            element.parentNode.appendChild(errorMessageElement);
        }
        errorMessageElement.textContent = message;
    }

    // 清除錯誤訊息
    function clearErrorMessage(element) {
        const errorMessageElement = element.parentNode.querySelector('.error-message');
        if (errorMessageElement) {
            errorMessageElement.remove();
        }
    }


    // 驗證函數
    function validate(element) {
        const validateRule = element.getAttribute('data-validate');
        const errorMessage = element.getAttribute('data-error-message');

        if (validateRule === 'required') {
            if (element.value === '') {
                showErrorMessage(element, errorMessage);
                return false;
            }
        }

        // 驗證姓名 =>>  data-validate="memberName" data-error-message="姓名必填的"

        if (validateRule === 'memberName') {
            if (element.value.length < 2 || element.value.length > 50) {
                showErrorMessage(element, "姓名必填");
                return false;
            }
        }



        // 驗證電話=>>  data-validate="phone" data-error-message= "電話號碼格式不正確 正確格式為09#######"
        if (validateRule === 'phone') {
            const regex = /^09\d{8}$/;
            if (!regex.test(element.value)) {
                showErrorMessage(element, "電話號碼格式不正確 正確格式為09########");
                return false;
            }
        }

        // 驗證地址=>>  data-validate="address" data-error-message="地址應在5到100個字之間"
        if (validateRule === 'address') {
            if (element.value.length < 5 || element.value.length > 100) {
                showErrorMessage(element, "地址應在5到100個字之間");
                return false;
            }
        }


        // 驗證信箱=>>  data-validate="email" data-error-message="信箱格式不正確"
        if (validateRule === 'email') {
            if (element.value.length < 20 || element.value.length > 500) {
                showErrorMessage(element, "信箱格式不正確");
                return false;
            }
        }

        // 驗證密碼=>>  data-validate="password" data-error-message="密碼至少需要4個字，只能包含英文和數字"
        if (validateRule === 'password') {
            const regex = /^[a-zA-Z0-9]+$/;
            if (element.value.length < 20 || element.value.length > 500) {
                showErrorMessage(element, "密碼至少需要4個字，只能包含英文和數字");
                return false;
            }
        }


        // if (validateRule === 'startTime' || validateRule === 'endTime') {
        //     const startTimeElement = document.querySelector('[data-validate="startTime"]');
        //     const endTimeElement = document.querySelector('[data-validate="endTime"]');
        //     const startTime = startTimeElement.value;
        //     const endTime = endTimeElement.value;

        //     if (parseInt(startTime) >= parseInt(endTime)) {
        //         showErrorMessage(startTimeElement, "開始時間必須早於結束時間");
        //         showErrorMessage(endTimeElement, "結束時間必須晚於開始時間");
        //         return false;
        //     }
        // }


        clearErrorMessage(element);
        return true;
    }

    // 在輸入或失去焦點時觸發驗證
    const elementsToValidate = document.querySelectorAll('[data-validate]');
    elementsToValidate.forEach(function (element) {
        element.addEventListener('keyup', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
        element.addEventListener('blur', function () {
            clearBackendErrorMessage(this);
            validate(this);
        });
    });

    // 清除後端錯誤訊息
    function clearBackendErrorMessage(element) {
        const backendErrorMessageElement = element.parentNode.querySelector('.text-danger');
        if (backendErrorMessageElement) {
            backendErrorMessageElement.textContent = '';
        }
    }

    //(時間)下拉選單改變時觸發驗證
    document.addEventListener("DOMContentLoaded", function () {
        const startTimeElement = document.querySelector('[data-validate="startTime"]');
        const endTimeElement = document.querySelector('[data-validate="endTime"]');

        startTimeElement.addEventListener('change', function () {
            validate(this);
        });

        endTimeElement.addEventListener('change', function () {
            validate(this);
        });
    });


</script>





