@using FitMatch_BackEnd.ViewModel;
@model CListViewModel

@{
    ViewData["Title"] = "Home Page";
}





<div class="container-fluid pt-4 px-4">


    <iframe title="02" src="https://app.powerbi.com/reportEmbed?reportId=7c6b0e39-dc2c-4b5d-ac8b-522e52b51c31&autoAuth=true&ctid=84efb004-f1d0-470d-b650-eb39069d10fe" frameborder="0" allowFullScreen="true" style="width:100%; height:90vh;border-radius:5px;"></iframe>
     

</div>



<script>
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '首頁';
    });

    //Power BI 顯示
    function show(pageName, filterValue) {

        var newUrl = baseUrl + "&pageName=" + pageName;

        if (null != filterValue && "" != filterValue) {

            newUrl += "&$filter=Industries/Industry eq '" + filterValue + "'";

        }

        //Assumes there's an iFrame on the page with id="iFrame"

        var report = document.getElementById("iFrame")

        report.src = newUrl;

    }
</script>