@model FitMatch_BackEnd.Models.Product
@*
@{
    ViewData["Title"] = "Edit";
}*@
<style>
    /* 上傳照片 */
    .upload-container {
        width: 100%;
        min-height: 400px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        border-radius: 5px;
        background-color: #E0E0E0;
    }

    .label-upload {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
    }

    .icon {
        font-size: 2em;
    }

    .upload-input {
        display: none;
    }

    #preview {
        max-width: 100%;
        max-height: 100%;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>


<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h1 class="pt-2" style="color: #F24B88!important;">M</h1>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <form class="d-none d-md-flex ms-4">
            <h4 class="m-auto">商品管理 / 編輯商品</h4>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-gear"></i>
                    <span class="d-none d-lg-inline-flex">設定</span>
                </a>
                
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">通知</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Profile updated</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">New user added</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item">
                        <h6 class="fw-normal mb-0">Password changed</h6>
                        <small>15 minutes ago</small>
                    </a>
                    <hr class="dropdown-divider">
                    <a href="#" class="dropdown-item text-center">See all notifications</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="rounded-circle me-lg-2" src="~/img/員工/02627af6-2503-42cc-8ea7-5a69773dadd6.jpg" alt=""
                         style="width: 40px; height: 40px;">
                    <span class="d-none d-lg-inline-flex">揚庭</span>
                </a>
                <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                    <a href="#" class="dropdown-item">My Profile</a>
                    <a href="#" class="dropdown-item">Settings</a>
                    <a href="#" class="dropdown-item">Log Out</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Form Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-secondary rounded h-100 p-4">

                    <form method="post" asp-action="Edit" class="" style="padding: 50px;" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" name="ProductId" value="@Model.ProductId"> 

                        <div class="col-sm-12 col-xl-6 mb-3 d-flex ps">
                            <div class="col-2">
                                <label asp-for="ProductId" class="col-form-label" t1>商品編號</label>
                            </div>
                            <div class="col-10">
                                <label asp-for="ProductId" class="col-form-label  t1" value="ProductId"> @Model.ProductId</label>
                            </div>
                        </div>
                                           

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label for="TypeId" class="me-2">商品類別:</label>
                            </div>
                            <div class="col-4">
                                <select asp-for="TypeId" class="form-select" style="background-color: #fff;" aria-label="商品類別">
                                    <option value="" selected disabled hidden>請選擇商品類別</option>
                                    <option value="1" >雞胸肉</option>
                                    <option value="2" >保健品</option>
                                    <option value="3" >乳清蛋白</option>
                                    <option value="4" >補劑</option>
                                </select>
                            </div>
                        </div>


                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="ProductName" for="inputname" class="col-form-label">商品名稱</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="ProductName" class="form-control mb-3" type="text" placeholder="這裡會帶入商品名稱"
                                       aria-label="這裡會帶入商品名稱" id="inputname">
                                <span asp-validation-for="ProductName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label for="inputname" class="col-form-label">商品封面</label>
                            </div>
                            <div class="col-4">
                                <div class="upload-container">
                                    <label for="upload" class="label-upload">
                                        <div class="icon">+</div>
                                        <input type="file" name="photo" id="upload" class="upload-input">
                                    </label>
                                    <img id="preview" src="" alt="Image Preview">
                                </div>
                            </div>
                        </div>


                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="ProductDescription" for="inputdescription" class="col-form-label">商品描述</label>
                            </div>
                            <div class="col-4">                                
                                <textarea asp-for="ProductDescription" data-validate="RestaurantsDescription" data-error-message="商品描述是必填的" class="form-control" placeholder="Leave a comment here"
                                          id="floatingTextarea" style="height: 200px;"></textarea>
                            </div>
                        </div>

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="Price" for="inputprice" class="col-form-label">價格</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="Price"  class="form-control mb-3" type="text" placeholder="這裡會帶入價格"
                                       aria-label="這裡會帶入價格" id="inputprice">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row-sm-12 row-lg-6 mb-3 d-flex ps">
                            <div class="col-1">
                                <label asp-for="ProductInventory" for="inputinventory" class="col-form-label">商品庫存</label>
                            </div>
                            <div class="col-4">
                                <input asp-for="ProductInventory"  class="form-control mb-3" type="text" placeholder="這裡會帶入商品庫存"
                                       aria-label="這裡會帶入商品庫存" id="inputinventory">
                                <span asp-validation-for="ProductInventory" class="text-danger"></span>
                            </div>
                        </div>


                        <fieldset class="col-sm-12 col-xl-6 mb-3 d-flex">
                            <div class="col-2">
                                <legend class="col-form-label pt-0 pe-4">上架狀態</legend>
                            </div>
                            <div class="col-10 d-flex justify-content-start">
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Status" id="gridRadios1" value="true" @(Model.Status == true ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios1">
                                        上架
                                    </label>
                                </div>
                                <div class="form-check me-3">
                                    <input class="form-check-input" type="radio" name="Status" id="gridRadios2" value="false" @(Model.Status == false ? "checked" : "")>
                                    <label class="form-check-label" for="gridRadios2">
                                        下架
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <div class="col-8 d-flex text-center mx-auto pt-5">
                            <button type="submit" class="btn btn-primary me-5">修改</button>
                            <a asp-action="List" class="btn btn-outline-success ">取消</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Form End -->

</div>
<!-- Content End -->


<script>
    const uploadInput = document.getElementById('upload');
    const preview = document.getElementById('preview');
    const icon = document.querySelector('.icon');

    uploadInput.addEventListener('change', function () {
        const file = this.files[0];
        if (file) {
            const reader = new FileReader();

            reader.addEventListener('load', function () {
                preview.src = this.result;
                preview.style.display = 'block';
                icon.style.display = 'none';
            });

            reader.readAsDataURL(file);
        }
    });

   
</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}