@model IEnumerable<FitMatch_BackEnd.Models.Article>

@{
    ViewData["Title"] = "Article";
}
<style>
    span {
        display: inline-block;
        white-space: nowrap;
    }
    </style>
    <!-- 篩選列開始 -->
    <div class="container-fluid pt-4 px-4">
        <nav class="navbar navbar-expand-lg bg-white rounded">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="d-flex align-items-center">
                    <div class="d-flex align-items-center me-4" style="margin-left: 25px;">
                        <span style="margin-right: 10px; text-align: center;">上架時間:</span>
                        <input class="form-select" style="background-color:#fff;" type="date" name="start" id=""
                               value="開始時間">
                    </div>

                    <div class="d-flex align-items-center me-4">
                        <span style="margin-left: -20px; text-align: center;">至</span>
                        <input class="form-select" style="background-color:#fff; margin-left: 10px;" type="date"
                               name="end" id="" value="結束時間">
                    </div>

                    <div class="col-4 d-flex align-items-center me-auto">
                        <span style="margin-right: 10px; text-align: center;">上架狀態:</span>
                        <select class="form-select" style="background-color: #fff;" aria-label="上架狀態">
                            <option selected disabled hidden>請選擇</option>
                            <option value="t1">上架</option>
                            <option value="t2">下架</option>
                        </select>
                    </div>


                    <div class="col-4 d-flex align-items-center ms-4 me-auto">
                        <span style="margin-right: 10px; text-align: center;">文章分類:</span>
                        <select class="form-select" style="background-color: #fff;" aria-label="文章分類">
                            <option selected disabled hidden>請選擇</option>
                            <option value="t1">專欄</option>
                            <option value="t2">新聞</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-3 d-flex align-items-center ms-4" style="margin-right: 25px;">
                搜尋:
                <div class=" ms-2 me-2 flex-grow-1">
                    <input class=" form-control" type="text" placeholder="請輸入關鍵字" aria-label="請輸入關鍵字"
                           id="searchInput">
                </div>
                <a href="">
                    <i class="fa-solid fa-magnifying-glass fa-xl"></i>
                </a>
                <button class="btn btn-outline-success " style="margin-top: 0px; margin-left: 10px;"
                        type="submit">
                    清空
                </button>
            </div>
            <br>
            <br>
            <br>
            <br>
        </nav>
    </div>
    <!-- 篩選列結束 -->

    <!-- 管理列表開始 -->
    <div class="container-fluid pt-4 px-4">
        <div class="bg-white text-center rounded p-4">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <h5 class="mb-0 text-dark">文章列表</h5>
                @*<a class="btn btn-primary  custom-purple" href="blog_upload.html">新增文章</a>*@
            </div>
            <div class="table-responsive">
                <table class="table text-center align-middle table-bordered table-hover mb-0">
                    <thead style="background-color: #74ffba;">
                        <tr class="text-dark">
                            <th scope="col"></th>
                            <th scope="col">文章編號</th>
                            <th scope="col">狀態</th>
                            <th scope="col">標題</th>
                            <th scope="col">封面</th>
                            <th scope="col">分類</th>
                            <th scope="col">上架時間</th>
                            <th scope="col">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>N0001</td>
                            <td>上架</td>
                            <td>每週該訓練肌肉多少次？</td>
                            <td>
                                <img class="articlesytemimg" src="../FitMatch_Frontend/images/blog/post1.jpg"
                                     alt="">
                            </td>
                            <td>新聞</td>
                            <td>2023-08-12 10:10</td>
                            <td>
                                <a class="btn btn-sm btn-secondary" href="blog_upload.html"
                                   style="background-color: aliceblue; color: black;">
                                    <i class="fa-regular fa-pen-to-square">編輯</i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="">
                                    <i class="fa-solid fa-trash-can">刪除</i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>A0012</td>
                            <td>上架</td>
                            <td>每天進行一小時的步行運動</td>
                            <td>
                                <img class="articlesytemimg" src="../FitMatch_Frontend/images/blog/post2.jpg"
                                     alt="">
                            </td>
                            <td>專欄</td>
                            <td>2023-08-30 09:40</td>
                            <td>
                                <a class="btn btn-sm btn-secondary" href="blog_upload.html"
                                   style="background-color: aliceblue; color: black;">
                                    <i class="fa-regular fa-pen-to-square">編輯</i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="">
                                    <i class="fa-solid fa-trash-can">刪除</i>
                                </a>
                            </td>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>A0012</td>
                            <td>上架</td>
                            <td>體態雕塑能有多大幫助</td>
                            <td>
                                <img class="articlesytemimg" src="../FitMatch_Frontend/images/blog/post3.jpg"
                                     alt="">
                            </td>
                            <td>專欄</td>
                            <td>2023-08-30 09:40</td>
                            <td>
                                <a class="btn btn-sm btn-secondary" href="blog_upload.html"
                                   style="background-color: aliceblue; color: black;">
                                    <i class="fa-regular fa-pen-to-square">編輯</i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="">
                                    <i class="fa-solid fa-trash-can">刪除</i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>S0311</td>
                            <td>上架</td>
                            <td>13.14版本更新公告</td>
                            <td>
                                <img class="articlesytemimg"
                                     src="../FitMatch_Frontend/images/LOGO/systemlogo.png" alt="">
                            </td>
                            <td>系統公告</td>
                            <td>2023-07-11 12:30</td>
                            <td>
                                <a class="btn btn-sm btn-secondary" href="blog_upload.html"
                                   style="background-color: aliceblue; color: black;">
                                    <i class="fa-regular fa-pen-to-square">編輯</i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="">
                                    <i class="fa-solid fa-trash-can">刪除</i>
                                </a>
                            </td>
                        <tr>
                            <td><input class="form-check-input" type="checkbox"></td>
                            <td>A0039</td>
                            <td>下架</td>
                            <td>2023全民體適能健身比賽</td>
                            <td>
                                <img class="articlesytemimg" src="../FitMatch_Frontend/images/blog/post4.jpg"
                                     alt="">
                            </td>
                            <td>活動</td>
                            <td>2023-01-27 08:33</td>
                            <td>
                                <a class="btn btn-sm btn-secondary" href="blog_upload.html"
                                   style="background-color: aliceblue; color: black;">
                                    <i class="fa-regular fa-pen-to-square">編輯</i>
                                </a>
                                <a class="btn btn-sm btn-primary" href="">
                                    <i class="fa-solid fa-trash-can">刪除</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-between pt-4" style="margin-left: 3px;margin-top: 10px;">
                <!-- 全選區塊開始 -->
                <div class="d-flex justify-content-between">
                    <div class="form-check custom-checkbox">
                        <input class="form-check-input my-lg-2" type="checkbox" id="selectAll">
                        <label class="form-check-label" for="selectAll">
                            <span class="align-middle">全選</span>
                        </label>
                        <button type="button" class="btn btn-primary mx-lg-2">下架</button>
                    </div>
                    <!-- Pagination goes here -->
                </div>
                <!-- 全選區塊END-->
                <!-- 換頁區塊開始 -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link previous-page" data-page-type="previous" href="#">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" id="page-1" data-page="1" data-page-type="number" href="#">
                                1
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" id="page-2" data-page="2" data-page-type="number" href="#">
                                2
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link next-page" data-page-type="next" href="#">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- 換頁區塊END -->
            </div>
        </div>
    </div>

<script>
    // 全選功能
    document.addEventListener("DOMContentLoaded", function () {
        const selectAllCheckbox = document.getElementById("selectAll");
        const restaurantCheckboxes = document.querySelectorAll(".form-check-input");
        selectAllCheckbox.addEventListener("change", function () {
            const isChecked = selectAllCheckbox.checked;
            restaurantCheckboxes.forEach(checkbox => {
                checkbox.checked = isChecked;
            });
        });
        restaurantCheckboxes.forEach(checkbox => {
            checkbox.addEventListener("change", function () {
                selectAllCheckbox.checked = Array.from(restaurantCheckboxes).every(cb => cb.checked);
            });
        });
    });
    // 以下是分頁功能
    document.addEventListener("DOMContentLoaded", function () {
        const table = document.querySelector(".table");
        const pageLinks = document.querySelectorAll(".page-link[data-page-type='number']");
        const prevPageLink = document.querySelector(".previous-page");
        const nextPageLink = document.querySelector(".next-page");
        pageLinks.forEach(link => {
            link.addEventListener("click", function (event) {
                event.preventDefault();
                // 獲取點擊的頁碼
                const page = parseInt(link.textContent);
                // 移除所有活躍狀態
                pageLinks.forEach(link => link.parentElement.classList.remove("active"));
                // 添加活跃状态到当前页码链接
                link.parentElement.classList.add("active");
                // 更新表格内容
                updateTableContent(page);
            });
        });
        prevPageLink.addEventListener("click", function (event) {
            event.preventDefault();
            const activeLink = document.querySelector(".page-item.active .page-link");
            if (activeLink) {
                const currentPage = parseInt(activeLink.textContent);
                if (currentPage > 1) {
                    pageLinks[currentPage - 2].click();
                }
            }
        });
        nextPageLink.addEventListener("click", function (event) {
            event.preventDefault();
            const activeLink = document.querySelector(".page-item.active .page-link");
            if (activeLink) {
                const currentPage = parseInt(activeLink.textContent);
                if (currentPage < pageLinks.length) {
                    pageLinks[currentPage].click();
                }
            }
        });
        function updateTableContent(page) {
            const perPage = 5;
            const startIndex = (page - 1) * perPage;
            const endIndex = startIndex + perPage;
            const rows = table.querySelectorAll("tbody tr");
            rows.forEach((row, index) => {
                if (index >= startIndex && index < endIndex) {
                    row.style.display = "table-row";
                } else {
                    row.style.display = "none";
                }
            });
        }
    });
    //放置標題
    document.addEventListener('DOMContentLoaded', function () {
        var textElement = document.getElementById('TitleName');
        textElement.innerHTML = '專欄管理';
    });
        </script>
