@model FitMatch_BackEnd.ViewModel.MatchViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatchViewModel</h4>
<hr />
<div class="row" style="background-color:aquamarine">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <input asp-for="ClassId" class="form-control" />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerId" class="control-label"></label>
                <input asp-for="TrainerId" class="form-control" />
                <span asp-validation-for="TrainerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildTime" class="control-label"></label>
                <input asp-for="BuildTime" class="form-control" />
                <span asp-validation-for="BuildTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerName" class="control-label"></label>
                <input asp-for="TrainerName" class="form-control" />
                <span asp-validation-for="TrainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GymName" class="control-label"></label>
                <input asp-for="GymName" class="form-control" />
                <span asp-validation-for="GymName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseStatus" class="control-label"></label>
                <input asp-for="CourseStatus" class="form-control" />
                <span asp-validation-for="CourseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GymId" class="control-label"></label>
                <input asp-for="GymId" class="form-control" />
                <span asp-validation-for="GymId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassTypeId" class="control-label"></label>
                <input asp-for="ClassTypeId" class="form-control" />
                <span asp-validation-for="ClassTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
