@model FitMatch_BackEnd.ViewModel.MatchViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MatchViewModel</h4>
<hr />
<div class="row" style="background-color:aquamarine">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassId" class="control-label"></label>
                <input asp-for="ClassId" class="form-control" />
                <span asp-validation-for="ClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassName" class="control-label"></label>
                <input asp-for="ClassName" class="form-control" />
                <span asp-validation-for="ClassName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildTime" class="control-label"></label>
                <input asp-for="BuildTime" class="form-control" />
                <span asp-validation-for="BuildTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberName" class="control-label"></label>
                <input asp-for="MemberName" class="form-control" />
                <span asp-validation-for="MemberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainerName" class="control-label"></label>
                <input asp-for="TrainerName" class="form-control" />
                <span asp-validation-for="TrainerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedGymId" class="control-label"></label>
                <select asp-for="SelectedGymId" asp-items="Model.AvailableGyms" class="form-control"></select>
                <span asp-validation-for="SelectedGymId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedMemberId" class="control-label"></label>
                <select asp-for="SelectedMemberId" asp-items="Model.AvailableMember" class="form-control"></select>
                <span asp-validation-for="SelectedMemberId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedClassTypeId" class="control-label"></label>
                <select asp-for="SelectedClassTypeId" asp-items="Model.AvailableClassType" class="form-control"></select>
                <span asp-validation-for="SelectedClassTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedTrainerId" class="control-label"></label>
                <select asp-for="SelectedTrainerId" asp-items="Model.AvailableTrainer" class="form-control"></select>
                <span asp-validation-for="SelectedTrainerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CourseStatus" class="control-label"></label>
                <select asp-for="CourseStatus" class="form-control">
                    <option value="進行中">進行中</option>
                    <option value="已完成">已完成</option>
                    <!-- 添加其他选项 -->
                </select>
                <span asp-validation-for="CourseStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
